<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.food.service.TruckListMapper">

   <select id="review" resultType="hashmap">
      select insa.u_id, distance,
      sno,
      sales_state, grade, co_name, u_profile_img, review_num, location,lat,
      lng,
      mdate
      from(
      select sales.u_id, mdate, distance, sno,
      sales_state,lat, lng,
      grade,location,
      u_profile_img,
      co_name from(
      select
      bsales.u_id, mdate,lat, lng,
      location,
      SQRT(pow(lat -
      #{lat}, 2) +
      pow(lng - #{lng}, 2)) as distance,
      sno,
      sales_state from (
      select
      u_id,
      max(work_date) as mdate from
      tbl_ft_sales group by u_id
      ) as
      bsales
      inner
      join tbl_ft_sales as gsales
      where (bsales.u_id =
      gsales.u_id) and
      (bsales.mdate = gsales.work_date)
      ) as sales
      inner join
      tbl_ft_info as
      info on sales.u_id = info.u_id
      ) as
      insa
      left join
      (SELECT COUNT(*)
      review_num ,u_id FROM tbl_ft_review
      group BY
      u_id) as
      review on
      review.u_id = insa.u_id
      order by review_num
      desc
      limit #{page},8


   </select>
   <select id="reviewLength" resultType="Integer">
      select count(*) from(
      select insa.u_id, distance, sno,
      sales_state, grade, co_name,
      u_profile_img, review_num, mdate from(
      select sales.u_id, mdate,
      distance, sno, sales_state, grade,
      u_profile_img, co_name from(
      select
      bsales.u_id, mdate, location,
      SQRT(pow(lat - #{lat}, 2) + pow(lng -
      #{lng}, 2)) as distance,
      sno, sales_state from (
      select u_id,
      max(work_date) as mdate from tbl_ft_sales group by u_id
      ) as bsales
      inner join tbl_ft_sales as gsales where (bsales.u_id =
      gsales.u_id) and
      (bsales.mdate = gsales.work_date)
      ) as sales
      inner join tbl_ft_info as
      info on sales.u_id = info.u_id
      ) as insa
      left join (SELECT COUNT(*)
      review_num ,u_id FROM tbl_ft_review group BY
      u_id) as review on
      review.u_id = insa.u_id
      order by review_num desc
      ) as result
   </select>

   <select id="grade" resultType="hashmap">
      select insa.u_id, distance,
      sno,
      sales_state, grade, co_name, u_profile_img, review_num, location,lat,
      lng,
      mdate
      from(
      select sales.u_id, mdate, distance, sno,
      sales_state,lat, lng,
      grade,location,
      u_profile_img,
      co_name from(
      select
      bsales.u_id, mdate,lat, lng,
      location,
      SQRT(pow(lat -
      #{lat}, 2) +
      pow(lng - #{lng}, 2)) as distance,
      sno,
      sales_state from (
      select
      u_id,
      max(work_date) as mdate from
      tbl_ft_sales group by u_id
      ) as
      bsales
      inner
      join tbl_ft_sales as gsales
      where (bsales.u_id =
      gsales.u_id) and
      (bsales.mdate = gsales.work_date)
      ) as sales
      inner join
      tbl_ft_info as
      info on sales.u_id = info.u_id
      ) as
      insa
      left join
      (SELECT COUNT(*)
      review_num ,u_id FROM tbl_ft_review
      group BY
      u_id) as
      review on
      review.u_id = insa.u_id
      order by grade
      desc
      limit
      #{page},8
   </select>

   <select id="gradeLength" resultType="Integer">
      select count(*)
      from(
      select
      insa.u_id, distance,
      sno, sales_state, grade, co_name, u_profile_img,
      review_num, mdate
      from(
      select sales.u_id, mdate, distance, sno,
      sales_state, grade,
      u_profile_img,
      co_name from(
      select bsales.u_id,
      mdate, location,
      SQRT(pow(lat -
      #{lat}, 2) + pow(lng - #{lng}, 2)) as
      distance, sno,
      sales_state from (
      select
      u_id, max(work_date) as mdate
      from
      tbl_ft_sales group by u_id
      ) as
      bsales
      inner join tbl_ft_sales as
      gsales
      where (bsales.u_id =
      gsales.u_id) and (bsales.mdate =
      gsales.work_date)
      ) as sales
      inner join
      tbl_ft_info as info on sales.u_id
      = info.u_id
      ) as
      insa
      left join
      (SELECT COUNT(*) review_num ,u_id FROM
      tbl_ft_review
      group BY
      u_id) as
      review on review.u_id = insa.u_id
      order by
      grade
      desc
      ) as total
   </select>

   <select id="distance" resultType="hashmap">
      select insa.u_id, distance,
      sno,
      sales_state, grade, co_name, u_profile_img, review_num,
      location,lat,
      lng,
      mdate
      from(
      select sales.u_id, mdate, distance, sno,
      sales_state,lat, lng,
      grade,location,
      u_profile_img,
      co_name from(
      select
      bsales.u_id, mdate,lat, lng,
      location,
      SQRT(pow(lat -
      #{lat}, 2) +
      pow(lng - #{lng}, 2)) as distance,
      sno,
      sales_state from (
      select
      u_id,
      max(work_date) as mdate from
      tbl_ft_sales group by u_id
      ) as
      bsales
      inner
      join tbl_ft_sales as gsales
      where (bsales.u_id =
      gsales.u_id) and
      (bsales.mdate = gsales.work_date)
      ) as sales
      inner join
      tbl_ft_info as
      info on sales.u_id = info.u_id
      ) as
      insa
      left join
      (SELECT COUNT(*)
      review_num ,u_id FROM tbl_ft_review
      group BY
      u_id) as
      review on
      review.u_id = insa.u_id
      order by distance
      limit
      #{page},8

   </select>

   <select id="distanceLength" resultType="Integer">
      select count(*)
      from
      (
      select insa.u_id, distance,
      sno, sales_state, grade, co_name,
      u_profile_img, review_num, mdate
      from(
      select sales.u_id, mdate,
      distance, sno, sales_state, grade,
      u_profile_img,
      co_name from(
      select
      bsales.u_id, mdate, location,
      SQRT(pow(lat -
      #{lat}, 2) + pow(lng -
      #{lng}, 2)) as distance, sno,
      sales_state from (
      select
      u_id,
      max(work_date) as mdate from tbl_ft_sales group by u_id
      ) as
      bsales
      inner join tbl_ft_sales as gsales where (bsales.u_id =
      gsales.u_id) and
      (bsales.mdate = gsales.work_date)
      ) as sales
      inner join
      tbl_ft_info as
      info on sales.u_id = info.u_id
      ) as insa
      left join
      (SELECT COUNT(*)
      review_num ,u_id FROM tbl_ft_review group BY
      u_id) as
      review on
      review.u_id = insa.u_id
      order by distance
      ) as total
   </select>


</mapper>