.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

#ftTable,
#ftTable th ,
#ftTable td {
    border: 1px solid grey;
}

#ftTable tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}
#ftTable tbody tr:nth-child(even) {
    background-color: #ffffff;
}


#TotalListTable,
#TotalListTable th,
#TotalListTable td{
    border: 1px solid #8a6d3b;
}
#InfoContent span{
    margin-left:1em;
    font-size: large;
}
#InfoContent label{
    color:blue;
    font-weight: bold;
}